@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.App {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;


}

.column {
width: 50%;
position: relative;
display: inline-block;
/* width: 40%; */
padding-left: 1rem;
padding-top: 15%;
padding-right: 1rem;
vertical-align: top;
}

/* .ui .large .form {
  background-color: pink;
} */
